body{
	background-color: #ffffff;
}
.layui-larry-box {
	padding: 0;
	margin-top: 50px;
}
#jj {
	text-align:right;
	width: 80px;
	float:left;
}
.layui-input-block{
	margin-right:240px;
	margin-left: 100px;
}
.msg{
	float:right;
	margin-top:-25px;
	width:220px;
}
.msg1{
	float:right;
	margin-top:13px;
	width:220px;
}
.btnColor{
	background-color: #4596E5;	
}