.fl {
	float: left;
}

.fr {
	float: right;
}

.mainbody .inforow .text {
	padding-top: 4px;
	font-weight: bold;
}

.mainbody {
	padding-top: 30px;
	padding-left: 10px;
	padding-right: 38px;
}

.font20 {
	font-size: 20px;
}

.dotline {
	height: 16px;
	margin-top: 15px;
	border-top: 1px dotted #999;
}


.fieldtitle {
	padding-top: 6px;
	text-align: left;
}

.star2 {
	padding-top: 7px;
	font-size: 12px;
	color: #bbb;
}

.formrow .comment {
	padding-top: 7px;
	padding-left: 10px;
	font-size: 12px;
	color: #bbb;
}

.star2 span {
	color: #f30;
}

a {
	color: #08f;
	text-decoration: none;
	cursor: pointer;
}

input,
select,
textarea {
	margin: 0px;
	padding: 0px;
	font-family: 宋体;
	font-size: 14px;
	margin-top: 2px;
}

.dotline2 {
	height: 11px;
	margin-top: 10px;
	border-top: 1px dotted #999;
}

.font12 {
	font-size: 12px;
}

.testbtn a {
	display: inline-block;
	width: 100px;
	line-height: 35px;
	text-align: center;
	background-color: #1cc8d2;
	color: white;
	font-size: 17px;
	border-radius: 5px;
	margin-top: 20px;
}

.navbar {
	padding-top: 10px;
	padding-bottom: 10px;
}

.navbar .barlist {
	height: 36px;
	background: #eee;
}

.navbar .barlist .nextbar {
	height: 36px;
	background: #eee;
}

.navbar .barlist .nextbar .ntext {
	padding-top: 6px;
	font-size: 16px;
	text-align: center;
	color: #999;
}

.navbar .barlist .currbar {
	height: 36px;
	background: #1cc8d2;
}

.navbar .barlist .currbar .ntext {
	padding-top: 6px;
	font-size: 16px;
	text-align: center;
	color: #fff;
}

.navbar .barlist .currsplit {
/* 	height: 36px; */
/* 	width: 18px; */
	background: #eee url(../img/navarr3.gif) no-repeat;
}

.arr {
	display: inline-block;
	margin-top: 4px;
	width: 20px;
	height: 17px;
	background: url(../img/arr.jpg) no-repeat;
}

.star2 span {
	color: #f30;
}

#main {
	display: none;
}

.formrow {
	height: 38px;
	padding: 20px;
}

.editorrow {
	padding-bottom: 15px;
	width: 630px;
	margin: 0 auto;
}
.testbtn2{
	margin-left: 20px;
}
