.videosss {
	height: 530px;
/* 	background: url(../img/bg.jpg) repeat scroll; */
}

.video_shipin {
	width: 1200px;
	margin: 0 auto;
	height: 100%;
/* 	background-color: #000; */
}

.video_shipin_left {
	float: left;
	width: 885px;
	height: 100%;
}

.shouke {
	margin-top: 15px;
	padding-left: 10px;
/* 	border-bottom: 1px solid gainsboro; */
	padding-bottom: 15px;
}

.shouke img {
	border-radius: 50%;
	float: left;
	width: 97px;
	height: 97px;
}

.shouke_right {
	float: left;
	margin-left: 30px;
	margin-top: 15px;
}

.kecheng {
	margin: 15px;
}

.kecheng .swiper-slide {
	height: 40px;
	margin-bottom: 20px;
}

.swiper-slide img {
	float: left;
}

.kecheng_right {
	float: left;
	margin-left: 20px;
	/* 	padding-top: 8px; */
}

.video_shipin_right {
	float: right;
	width: 310px;
	height: 100%;
	background-color: #212427;
}

/*tap切换部分*/
.jilu {
	width: 1200px;
	margin: 20px auto 0;
}

.xiangqing {
	background-color: #fff;
	margin-bottom: 10px;
	border: 1px solid gainsboro;
}

.uuu li {
	color: white;
}

.ddd li {
	color: white;
}

.iii {
	margin: 0;
}

.huizong {
	height: 65px;
	background-color: #f7f9fc;
	line-height: 65px;
	padding-left: 30px;
	border-bottom: 1px solid gainsboro;
}

.hui_wen {
	float: left;
	font-size: 18px;
}

.huizong img {
	float: left;
	margin-top: 15px;
	margin-right: 15px;
}

.xiala {
	width: 900px;
	float: left;
}

.xiala_xingqing {
	width: 300px;
	height: 38px;
	text-align: right;
	float: left;
	margin: 15px 0;
}

.selects {
	width: 138px;
	height: 38px;
	line-height: 38px;
	border: 1px solid gainsboro;
	color: #C2C2C2;
	text-align: center;
}

.tijiao1 {
	float: left;
	margin-left: 140px;
	margin-top: 50px;
}

.biaotou {
/* 	display: flex; */
/* 	justify-content: space-around; */
	background-color: #FCFCFC;
	height: 50px;
	line-height: 50px;
	color: #1cc8d2;
	font-size: 16px;
	border-bottom: 1px solid gainsboro;
}

.biaotou span {
	display: inline-block;
	width: 25%;
	float:left;
	height:100%;
	text-align: center;
}

.xize {
	padding-bottom: 10px;
}

.xize li {
/* 	display: flex; */
/* 	justify-content: space-around; */
	height: 50px;
	line-height: 50px;
	font-size: 16px;
	position: relative;
	border-bottom: 1px dashed gainsboro;
	width: 100%;
	margin: 0 auto;
}

.xize li img {
	position: absolute;
	left: 30px;
	top: 10px;
}

.xize span {
	display: inline-block;
	width: 25%;
	float:left;
	height:100%;
	text-align: center;
}

#fenshu {
	width: 50px;
	height: 20px;
	background-color: #1cc8d2;
	color: white;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	line-height: 20px;
	text-align: center;
	margin: 0 auto;
	margin-top: 15px;
}

.pingyutianxie {
	padding-bottom: 20px;
	clear: both;
}

.fabiaoping {
	float: right;
	margin-right: 10px;
	margin-top: 10px;
	background-color: #1cc8d2;
}

.pingyutianxie textarea {
	width: 100%;
	max-width: 1150px;
	min-width: 1150px;
	min-height: 100px;
	max-height: 100px;
	margin-left: 10px;
	margin-top: 10px;
	padding-left: 10px;
	line-height: 25px;
	font-size: 16px;
}

.pingyutianxie button {
	height: 30px;
	line-height: 30px;
	margin-left: 1100px;
	margin-top: 10px;
}

/*弹框内容*/
.neirong_top {
	border-left: 3px solid #1cc8d2;
	height: 45px;
	line-height: 45px;
	background-color: #f4f7fc;
	padding: 0 5px;
	margin-top: 10px;
}

.no2, .no3 {
	float: right;
	margin-right: 20px;
	width: 100px;
	text-align: center;
}

.no1 {
	display: inline-block;
	float: left;
	width: 400px;
	overflow: hidden;
}

.no2 input {
	width: 45px;
	text-align: center;
}

.pingguneirong ul li {
	padding-left: 8px;
	padding-right: 5px;
	height: 40px;
	line-height: 40px;
	border-bottom: 1px solid gainsboro;
}

.kezhongTex {
	margin: 5px 15px;
	padding: 3px;
	width: 820px;
}

.kezhongBtn {
	width: 90px;
	height: 35px;
	line-height: 35px;
	text-align: center;
	background-color: #1cc8d2;
	color: #fff;
	border: none;
	float: right;
	margin-right: 20px;
}