.kb_shaixuan{
	width: 1196px;
	margin: 0 auto;
	border: 1px solid gainsboro;
	border-left:3px solid #1cc8d2;
	background-color: #fff;
	height: 60px;	
}

.layui-input-inline{
	margin: 12px 15px;
}
.kb_shaixuan button{
	float: right;
	margin-top: -65px;
}
.sou1{
	margin-right: 140px;
	
}
.sou2{
	margin-right: 60px;
}
.zhong_right{
	width: 1168px;
	margin: 20px auto;
	background-color: #fff;
	border: 1px solid gainsboro;
	padding: 15px;
}
.zhong_right table tbody tr td{
	position:relative;
}
.tongji{
	background-color: #FCFCFC;
	height: 50px;
	line-height: 50px;
	font-size: 16px;
	border: 1px solid gainsboro;
}
.tongji span{
	margin: 0 20px;
}
.tishi{
	height: 50px;
}
.tishi span{
	display: inline-block;
	float: left;
}
.shi{
	display: inline-block;
	text-align: center;
	width: :;0px;
	line-height: 50px;
}

.kai1,.kai2{
	display: inline-block;
	width: 30px;
	height: 15px;
	border-radius: 3px;
	margin: 18px 20px;
	float: left;
}
.kai1{
	background-color: #1cc8d2;
}
.kai2{
	background-color: blue;
}
.wei,.jin{
	margin-top: 15px;
}
.table{
	text-align: center;
}
.table thead th{
	text-align: center;
}

.kaikeqingk{
	width: 1168px;
	margin: 0 auto;
	padding: 15px;
	background-color: #fff;
	border: 1px solid gainsboro;
}
.kaikeqingk p{
	height: 40px;
	line-height: 40px;
	background-color: #FCFCFC;
	border-left: 3px solid #4596E5;
	padding-left: 10px;
	font-size: 16px;
	border: 1px solid gainsboro;
	border-bottom: none;
	border-left: 3px solid #4596E5;
}
.kai_span{
	border: 1px solid gainsboro;
	height: 50px;
}

.kai_span span{
	margin: 10px 15px;
	line-height: 50px;
	font-size: 16px;
}


/*公共样式*/
/*进行中*/
.going{
	color: #FFA500;
}
/*未进行*/
.stops{
	color: #4596E5;
}



/*弹出层样式*/
.plan_course_info {
	display:none; 
    width: 300px;
    overflow: hidden;
    text-align: left;
    font-size: 16px;
    line-height: 30px;
    position: absolute;
    top: -30px;
    z-index: 100;
}
.plan_course_info1 {
    left: 150px;
}
.plan_course_mainteach1 {
    padding: 10px 0 0 40px;
    background: url(../../../images/tip-bg-t.png) no-repeat 0 0;
}
.blue {
    color: #007dc5;
}
.plan_course_info p span {
    color: #666;
}
.plan_course_otherteach_mid1 {
    padding: 15px 0 0 40px;
    background: url(../../../images/tip-bg-m.png) repeat-y 0 0;
}
.plan_course_otherteach_btm1 {
    height: 17px;
    background: url(../../../images/tip-bg-b.png) no-repeat 0 0;
}
.fuzi{
	text-indent:2em;
}
.plan_course_name:hover .plan_course_info{
    display:block;
}
#plan_course_teach_contact{
	margin-left: 10px;
}

