<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
	<display-name>Archetype Created Web Application</display-name>
	<servlet>
		<servlet-name>FileUploadServlet</servlet-name>
		<display-name>FileUploadServlet</display-name>
		<description></description>
		<servlet-class>com.zzrenfeng.fileupload.FileUploadServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>FileUploadActionServlet</servlet-name>
		<display-name>FileUploadActionServlet</display-name>
		<description></description>
		<servlet-class>com.zzrenfeng.fileupload.FileUploadActionServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>FormatConversionServlet</servlet-name>
		<display-name>FormatConversionServlet</display-name>
		<description></description>
		<servlet-class>com.zzrenfeng.videoTranscode.FormatConversionServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>FileUploadNotBlockServlet</servlet-name>
		<display-name>FileUploadNotBlockServlet</display-name>
		<description></description>
		<servlet-class>com.zzrenfeng.fileupload.FileUploadNotBlockServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>OfficeConvertPdfServlet</servlet-name>
		<display-name>OfficeConvertPdfServlet</display-name>
		<description></description>
		<servlet-class>com.zzrenfeng.officeConertPdf.OfficeConvertPdfServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>VideoScreenshotServlet</servlet-name>
		<display-name>VideoScreenshotServlet</display-name>
		<description></description>
		<servlet-class>com.zzrenfeng.videoTranscode.VideoScreenshotServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>VideoFileDownloadServlet</servlet-name>
		<display-name>VideoFileDownloadServlet</display-name>
		<description></description>
		<servlet-class>com.zzrenfeng.fileDownload.VideoFileDownloadServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>PdfConvertImageServlet</servlet-name>
		<display-name>PdfConvertImageServlet</display-name>
		<description></description>
		<servlet-class>com.zzrenfeng.pdfconvertimage.PdfConvertImageServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>VideoFormatConvertingServlet</servlet-name>
		<display-name>VideoFormatConvertingServlet</display-name>
		<description></description>
		<servlet-class>com.zzrenfeng.videoTranscode.VideoFormatConvertingServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>OfficeConvertPdfProgressServlet</servlet-name>
		<display-name>OfficeConvertPdfProgressServlet</display-name>
		<description></description>
		<servlet-class>com.zzrenfeng.officeConertPdf.OfficeConvertPdfProgressServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>PdfConvertImageProgressServlet</servlet-name>
		<display-name>PdfConvertImageProgressServlet</display-name>
		<description></description>
		<servlet-class>com.zzrenfeng.pdfconvertimage.PdfConvertImageProgressServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>FileUploadServlet</servlet-name>
		<url-pattern>/FileUploadServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>FileUploadActionServlet</servlet-name>
		<url-pattern>/FileUploadActionServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>FormatConversionServlet</servlet-name>
		<url-pattern>/FormatConversionServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>FileUploadNotBlockServlet</servlet-name>
		<url-pattern>/FileUploadNotBlockServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>OfficeConvertPdfServlet</servlet-name>
		<url-pattern>/OfficeConvertPdfServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>VideoScreenshotServlet</servlet-name>
		<url-pattern>/VideoScreenshotServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>VideoFileDownloadServlet</servlet-name>
		<url-pattern>/VideoFileDownloadServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>PdfConvertImageServlet</servlet-name>
		<url-pattern>/PdfConvertImageServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>VideoFormatConvertingServlet</servlet-name>
		<url-pattern>/VideoFormatConvertingServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>OfficeConvertPdfProgressServlet</servlet-name>
		<url-pattern>/OfficeConvertPdfProgressServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>PdfConvertImageProgressServlet</servlet-name>
		<url-pattern>/PdfConvertImageProgressServlet</url-pattern>
	</servlet-mapping>
</web-app>