<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zzrenfeng.zhsx.mapper.eclassbrand.sys.ESysUserMapper">

	<resultMap id="BaseResultMap" type="com.zzrenfeng.zhsx.model.eclassbrand.sys.ESysUser">
		<result column="id" property="id" />
		<result column="userCode" property="userCode" />
		<result column="nickname" property="nickname" />
		<result column="password" property="password" />
		<result column="salt" property="salt" />
		<result column="state" property="state" />
	</resultMap>

	<sql id="Base_Column_List">
		id,userCode,nickname,password,salt,state
	</sql>

	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from sys_user
		where id = #{id}
	</select>

	<select id="selectAll" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from sys_user
	</select>

	<delete id="deleteByPrimaryKey" parameterType="java.lang.String">
		delete from sys_user where id = #{id};
	</delete>


	<insert id="insert" parameterType="ESysUser">
		<selectKey keyProperty="id" order="BEFORE" resultType="java.lang.String">select uuid()</selectKey>
		insert into sys_user (id,userCode,nickname,password,salt,state)
		values
		(#{id},#{userCode},#{nickname},#{password},#{salt},#{state})
	</insert>


	<update id="updateByPrimaryKeySelective" parameterType="ESysUser">
		update sys_user
		<set>
			<if test="id != null">
				id = #{id},
			</if>
			<if test="userCode != null">
				userCode = #{userCode},
			</if>
			<if test="nickname != null">
				nickname = #{nickname},
			</if>
			<if test="password != null">
				password = #{password},
			</if>
			<if test="salt != null">
				salt = #{salt},
			</if>
			<if test="state != null">
				state = #{state}
			</if>
		</set>
		where id = #{id}
	</update>


	<update id="updateByPrimaryKey" parameterType="ESysUser">
		update
		sys_user
		set
		id = #{id},
		userCode = #{userCode},
		nickname = #{nickname},
		password =
		#{password},
		salt = #{salt},
		state = #{state}
		where id = #{id}
	</update>

	<sql id="Dynamic_Conditions">
		<where>
			1=1
			<if test="id != null">
				and id = #{id}
			</if>
			<if test="userCode != null">
				and userCode = #{userCode}
			</if>
			<if test="nickname != null">
				and nickname = #{nickname}
			</if>
			<if test="password != null">
				and password = #{password}
			</if>
			<if test="salt != null">
				and salt = #{salt}
			</if>
			<if test="state != null">
				and state = #{state}
			</if>
			<if test="search != null">
			 	and ( userCode like '%${search}%' or nickname like '%${search}%')
			</if>
		</where>
	</sql>


	<select id="findSelective" parameterType="ESysUser" resultType="ESysUser">
		select
		<include refid="Base_Column_List" />
		from sys_user
		<include refid="Dynamic_Conditions" />
	</select>


	<select id="findPageSelective" parameterType="ESysUser" resultType="ESysUser">
		select
		<include refid="Base_Column_List" />,
		(SELECT  GROUP_CONCAT(description) FROM sys_role r WHERE r.available = 1 and r.id IN (SELECT roleId FROM sys_user_role ur WHERE  ur.uid = u.id)) as roleNames
		from sys_user u
		<include refid="Dynamic_Conditions" />
	</select>


	<select id="findByUserCode" resultType="ESysUser">
		select
		<include refid="Base_Column_List" />
		from sys_user
		where userCode = #{userCode}
	</select>

</mapper>