<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zzrenfeng.zhsx.mapper.eclassbrand.sys.ESysUserRoleMapper" >
 
	<resultMap id="BaseResultMap"  type="com.zzrenfeng.zhsx.model.eclassbrand.sys.ESysUserRole" >
		<result column="uid" property="uid" />
		<result column="roleId" property="roleId" />
	</resultMap>

	<sql id="Base_Column_List">
		uid,roleId
	</sql>

	<select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
		select 
		<include refid="Base_Column_List" />
		from sys_user_role
		where id = #{id}
	</select>

	<select id="selectAll" resultMap="BaseResultMap">
		select 
		<include refid="Base_Column_List" />
		from sys_user_role
	</select>

	<delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
		delete from sys_user_role
		where id = #{id}
	</delete>


	<insert id="insert" parameterType="ESysUserRole" >
		<selectKey keyProperty="id" order="BEFORE" resultType="java.lang.String">select uuid()</selectKey>
		insert into sys_user_role (uid,roleId)
		values (#{uid},#{roleId})
	</insert>


	<update id="updateByPrimaryKeySelective" parameterType="ESysUserRole" >
		update sys_user_role
		<set >
			<if test="uid != null" >
				uid = #{uid},
			</if>
			<if test="roleId != null" >
				roleId = #{roleId}
			</if>
		</set>
		where id = #{id}
	</update>
	

	<update id="updateByPrimaryKey" parameterType="ESysUserRole" >
		update sys_user_role
		set 
		uid = #{uid},
		roleId = #{roleId}
		where id = #{id}
	</update>
	
	<sql id="Dynamic_Conditions">
		<where>
			1=1
			<if test="uid != null" >
				and uid = #{uid}
			</if>
			<if test="roleId != null" >
				and roleId = #{roleId}
			</if>
		</where>
	</sql>
	
	
	<select id="findSelective" parameterType="ESysUserRole" resultType="ESysUserRole">
		select 
		<include refid="Base_Column_List" />
		from sys_user_role
		<include refid="Dynamic_Conditions"/>
	</select>


	<select id="findPageSelective" parameterType="ESysUserRole" resultType="ESysUserRole">
		select 
		<include refid="Base_Column_List" />
		from sys_user_role
		<include refid="Dynamic_Conditions"/>
	</select>
	
	
	<insert id="batchInsertUserRole" parameterType="java.util.Map">
		delete from sys_user_role where uid = #{userId};
		insert into sys_user_role (uid,roleId)
		values  
		<foreach collection="roleIds" separator="," item="roleId">
			(#{userId},#{roleId})
		</foreach>
	</insert>


</mapper>