.webuploader-container {
	position: relative;
}
.webuploader-element-invisible {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px,1px,1px,1px);
}
.webuploader-pick {
	background-color: #1cc8d2;
    color: #fff;
    padding: 0 10px;
    text-align: center;
    border: 1px solid #1cc8d2;
    border-radius:2px;
}


.webuploader-pick-disable {
	opacity: 0.6;
	pointer-events:none;
}

