.con {
	height: 963px;
	padding-bottom: 0;
}
.body {
	width: 100%;
	height: 100%;
	position: relative;
}

.into {
	width: 160px;
	height: 45px;
/* 	position: absolute; */
/* 	left: 860px; */
/* 	top: 810px; */
	border-bottom-left-radius: 25px;
	border-bottom-right-radius: 25px;
	border-top-left-radius: 25px;
	border-top-right-radius: 25px;
	cursor: pointer;
	margin:-127px auto;
}

.bodyImg {
	height: 100%;
	width:100%;
}