<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans.xsd">
    <!-- Quartz定时任务 开始 -->
    <!-- 测试演练程序 -->
    <bean id="sprQtzDemo" class="org.springframework.scheduling.quartz.JobDetailFactoryBean">
        <property name="jobClass">
            <value>com.zzrenfeng.zhsx.task.SprQtzDemo</value>
        </property>
    </bean>
    <bean id="demoCronTrigger" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
        <property name="jobDetail">
            <ref bean="sprQtzDemo"/>
        </property>
        <property name="cronExpression">
            <value>0 0/1 * * * ?</value>
        </property>
    </bean>
    
    <!-- 获取课程安排的起止时间列表，每天凌晨05:00获取一次后，将获取的起止时间列表设置成自动录课的启停定时任务参数 -->
    <bean id="scanAutoRecordCourseScheduleQuartzJob" class="org.springframework.scheduling.quartz.JobDetailFactoryBean">
        <property name="jobClass">
            <value>com.zzrenfeng.zhsx.task.ScanAutoRecordCourseScheduleQuartzJob</value>
        </property>
    </bean>
    <bean id="getStartEndTimeListCronTrigger" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
        <property name="jobDetail">
            <ref bean="scanAutoRecordCourseScheduleQuartzJob"/>
        </property>
        <property name="cronExpression">
            <value>0 0 5 * * ?</value>    <!-- 0 0 5 * * ?，每天 05:00点运行 -->
        </property>
    </bean>
    
    <bean id="scheduler" class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
        <property name="triggers">
        	<list>
        		<!-- <ref bean="demoCronTrigger"/> -->    <!-- 测试 -->
        		<ref bean="getStartEndTimeListCronTrigger"/>    <!-- 定时获取课程安排的起止时间列表 -->
        	</list>            
        </property>
    </bean>
    <!--Quartz定时任务结束 -->

</beans>
