#cssmenu, #cssmenu ul, #cssmenu ul li, #cssmenu ul li a, #cssmenu #menu-button
	{
	margin: 0;
	padding: 0;
	border: 0;
	list-style: none;
	line-height: 1;
	display: block;
	position: relative;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

#cssmenu:after, #cssmenu>ul:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}

#cssmenu #menu-button {
	display: none;
}

#cssmenu {
	width: auto;
	font-family: 'Open Sans', sans-serif;
	line-height: 1;
	background: #ffffff;
}

#cssmenu>ul>li {
	float: left;
}

#cssmenu.align-center>ul {
	font-size: 0;
	text-align: center;
}

#cssmenu.align-center>ul>li {
	display: inline-block;
	float: none;
}

#cssmenu.align-center ul ul {
	text-align: left;
}

#cssmenu.align-right>ul>li {
	float: right;
}

#cssmenu.align-right ul ul {
	text-align: right;
}
/*调整字体大小*/
#cssmenu>ul>li>a {
	padding: 20px 12px;
	font-size: 16px;
	text-decoration: none;
	text-transform: uppercase;
	color: #000000;
	-webkit-transition: color .2s ease;
	-moz-transition: color .2s ease;
	-ms-transition: color .2s ease;
	-o-transition: color .2s ease;
	transition: color .2s ease;
}

#cssmenu>ul>li:hover>a, #cssmenu>ul>li.active>a {
	color: #1ca5d2;
}

#cssmenu>ul>li>ul>li.active2>a {
	color: #fff;
	background-color: #1ca5d2;
}

#cssmenu>ul>li.has-sub>a {
	padding-right: 10px;
	font-weight:900;
}

#cssmenu>ul>li.has-sub:hover>a::after {
	border-color: #009ae1;
}

#cssmenu ul ul {
	position: absolute;
	left: -9999px;
}

#cssmenu li:hover>ul {
	left: auto;
}

#cssmenu.align-right li:hover>ul {
	right: 0;
}

#cssmenu ul ul ul {
	margin-left: 100%;
	top: 0;
}

#cssmenu.align-right ul ul ul {
	margin-left: 0;
	margin-right: 100%;
}

#cssmenu ul ul li {
	height: 0;
	-webkit-transition: height .2s ease;
	-moz-transition: height .2s ease;
	-ms-transition: height .2s ease;
	-o-transition: height .2s ease;
	transition: height .2s ease;
}

#cssmenu ul li:hover>ul>li {
	height: 32px;
}
/*二级下拉单字体大小*/
#cssmenu ul ul li a {
	padding: 10px 20px;
	width: 125px;
	text-align: center;
	font-size: 14px;
	background: #fff;
	text-decoration: none;
	color: #000;
	-webkit-transition: color .2s ease;
	-moz-transition: color .2s ease;
	-ms-transition: color .2s ease;
	-o-transition: color .2s ease;
	transition: color .2s ease;
}

#cssmenu ul ul li:hover>a, #cssmenu ul ul li a:hover {
	color: #fff;
	background-color: #1ca5d2;
}

#cssmenu.align-right ul ul li.has-sub>a::after {
	right: auto;
	left: 10px;
	border-bottom: 0;
	border-right: 0;
	border-top: 1px solid #dddddd;
	border-left: 1px solid #dddddd;
}

#cssmenu ul ul li.has-sub:hover>a::after {
	border-color: #ffffff;
}

/*改写背景色*/
.navLi a {
	background-color: #1ca5d2;
}

#cssmenu {
	float: left;
	height: 62px;
	line-height: 62px;
	font-size: 16px;
}
/*logo*/
.top_logo {
	float: left;
}

.top_logo img {
	width: 110px;
	height: 50px;
}

#cssmenu {
	    width: 857px;
	margin: 0 20px;
}

/*头部样式*/
.top {
	padding: 40px 0;
	width: 1360px;
	min-width: 1200px;
	margin: 0 auto;
	position: relative;
	z-index: 19891013;
}

.right {
    float: right;
    width: 353px;
    padding-top: 16px;
    position: relative;
}

.app {
	position: relative;
	float: left;
}

.management {
	float: left;
	margin-left: 57px;
}

.LH {
	line-height: 25px;
}

.LH2 {
	line-height: 25px;
}

/*二维码*/
.erweima {
	position: absolute;
	left: 0px;
	top: 46px;
	display: none;
	z-index: 99999999999;
}

@media only screen and (max-width: 1800px) {
	.erweima {
		left: -138px;
	}
}

.logIn {
    position: relative;
    height: 46px;
    width: 70px;
    float: left;
}

.touxiang1 {
	margin-top: -5px;
	margin-right: 5px;
}
.fourBtn{
	position: absolute;
    top: 19px;
    left: 50px;
    width: 100px;
}
.fourBtn a{
	color: #1ca5d2;
	font-weight:900;
}
/*登录后的弹框*/
.LIcon {
	padding: 20px;
	position: absolute;
	left: 0;
	top: 46px;
	width: 230px;
	background-color: #fff;
	border: 1px solid #F3F5F7;
}

.LIconTopImg img {
	width: 72px;
	height: 72px;
	border-radius: 50%;
}

.LIconTopDiv {
	padding: 6px 0 15px 0;
}

.LIconTopDiv div {
	line-height: 30px;
	margin-left: 14px;
}

.LIconTopDiv1 {
	font-weight: 600;
	font-size: 24px;
	font-family: "微软雅黑";
}

.LIconTopDiv2 {
	font-family: "微软雅黑";
	font-size: 14px;
	height: 30px;
	width: 7em;
	overflow: hidden;
	white-space: normal;
	text-overflow: ellipsis;
}

.LIconMiddle ul {
	border-bottom: 1px solid #f3f5f7;
	padding-bottom: 20px;
}

.LIconMiddle ul li {
	width: 109px;
	height: 28px;
	line-height: 28px;
	background-color: #f3f5f7;
	color: #787d82;
	text-align: center;
	margin: 3px;
	cursor: pointer;
	font-size: 14px;
}

.LIconBot {
	text-align: right;
	line-height: 42px;
}

.LIconBot a {
	font-size: 12px;
}

.LIconMiddle ul li img {
	float: left;
	margin: 4px 5px 0 14px;
}

.LIconMiddle ul li span {
	float: left;
}

.topFarther {
	background-color: #fff;
}