<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zzrenfeng.zhsx.mapper.TpPracticeLibraryMapper" >
 
	<resultMap id="BaseResultMap"  type="com.zzrenfeng.zhsx.model.TpPracticeLibrary" >
		<result column="id" property="id" />
		<result column="question" property="question" />
		<result column="gradeName" property="gradeName" />
		<result column="subjectName" property="subjectName" />
		<result column="rights" property="rights" />
		<result column="type" property="type" />
		<result column="createId" property="createId" />
		<result column="createTime" property="createTime" />
	</resultMap>

	<sql id="Base_Column_List">
		id,question,gradeName,subjectName,rights,type,createId,createTime
	</sql>

	<select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
		select 
		<include refid="Base_Column_List" />
		from tp_practice_library
		where id = #{id}
	</select>

	<delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
		delete from tp_practice_library
		where id = #{id}
	</delete>


	<insert id="insert" parameterType="TpPracticeLibrary" >
		<selectKey keyProperty="id" order="BEFORE" resultType="java.lang.String">select uuid()</selectKey>
		insert into tp_practice_library (id,question,gradeName,subjectName,rights,type,createId,createTime)
		values (#{id},#{question},#{gradeName},#{subjectName},#{rights},#{type},#{createId},#{createTime})
	</insert>


	<update id="updateByPrimaryKeySelective" parameterType="TpPracticeLibrary" >
		update tp_practice_library
		<set >
			<if test="id != null" >
				id = #{id},
			</if>
			<if test="question != null" >
				question = #{question},
			</if>
			<if test="gradeName != null" >
				gradeName = #{gradeName},
			</if>
			<if test="subjectName != null" >
				subjectName = #{subjsubjectNameectname},
			</if>
			<if test="rights != null" >
				rights = #{rights},
			</if>
			<if test="type != null" >
				type = #{type},
			</if>
			<if test="createId != null" >
				createId = #{createId},
			</if>
			<if test="createTime != null" >
				createTime = #{createTime}
			</if>
		</set>
		where id = #{id}
	</update>
	

	<update id="updateByPrimaryKey" parameterType="TpPracticeLibrary" >
		update tp_practice_library
		set 
		id = #{id},
		question = #{question},
		gradeName = #{gradeName},
		subjectName = #{subjectName},
		rights = #{rights},
		type = #{type},
		createId = #{createId},
		createTime = #{createTime}
		where id = #{id}
	</update>
	
	<sql id="Dynamic_Conditions">
		<where>
			1=1
			<if test="id != null" >
				and id = #{id}
			</if>
			<if test="question != null" >
				and question = #{question}
			</if>
			<if test="gradeName != null" >
				and gradeName = #{gradeName}
			</if>
			<if test="subjectName != null" >
				and subjectName = #{subjectName}
			</if>
			<if test="rights != null" >
				and rights = #{rights}
			</if>
			<if test="type != null" >
				and type = #{type}
			</if>
			<if test="createId != null" >
				and createId = #{createId}
			</if>
			<if test="createTime != null" >
				and createTime = #{createTime}
			</if>
		</where>
	</sql>
	
	
	<select id="findSelective" parameterType="TpPracticeLibrary" resultType="TpPracticeLibrary">
		select 
		<include refid="Base_Column_List" />
		from tp_practice_library
		<include refid="Dynamic_Conditions"/>
	</select>


	<select id="findPageSelective" parameterType="TpPracticeLibrary" resultType="TpPracticeLibrary">
		select 
		sd.`value` as gradeName,
		u.nickName as createId,
		t.id,t.question,t.subjectName,t.rights,t.type,t.createTime
		from tp_practice_library t
		left join sys_dict sd on sd.id=  t.gradeName and sd.keyname ='G'
		left join `user` u on u.id = t.createId 
		<include refid="Dynamic_Conditions"/>
		
		<if test="searchQuestion != null" >
				and t.question like concat('%',#{searchQuestion},'%') 
		</if>
		
		
	</select>

 	<delete id="delBatchLibrary" parameterType="java.util.Map">
		delete from tp_practice_library
		where id in
		<foreach collection="ids" open="(" close=")" separator="," item="id" > 
			#{id}
		</foreach>
	</delete>

</mapper>