<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zzrenfeng.zhsx.mapper.WebClassDeviceMapper" >
 
	<resultMap id="BaseResultMap"  type="com.zzrenfeng.zhsx.model.WebClassDevice" >
		<result column="id" property="id" />
		<result column="class_id" property="classId" />
		<result column="device_id" property="deviceId" />
	</resultMap>

	<sql id="Base_Column_List">
		id,class_id,device_id
	</sql>

	<select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
		select 
		<include refid="Base_Column_List" />
		from web_class_device
		where id = #{id}
	</select>

	<delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
		delete from web_class_device
		where id = #{id}
	</delete>
	<!-- 添加的方法 -->
	<delete id="deleteBySelective" parameterType="WebClassDevice" >
		delete from web_class_device
		<include refid="Dynamic_Conditions"/>
	</delete>


	<insert id="insert" parameterType="WebClassDevice" >
		<selectKey keyProperty="id" order="BEFORE" resultType="java.lang.String">select uuid()</selectKey>
		insert into web_class_device (id,class_id,device_id)
		values (#{id},#{classId},#{deviceId})
	</insert>


	<update id="updateByPrimaryKeySelective" parameterType="WebClassDevice" >
		update web_class_device
		<set >
			<!-- <if test="id != null" >
				id = #{id},
			</if> -->
			<if test="classId != null" >
				class_id = #{classId},
			</if>
			<if test="deviceId != null" >
				device_id = #{deviceId}
			</if>
		</set>
		where id = #{id}
	</update>
	

	<update id="updateByPrimaryKey" parameterType="WebClassDevice" >
		update web_class_device
		set 
		<!-- id = #{id}, -->
		class_id = #{classId},
		device_id = #{deviceId}
		where id = #{id}
	</update>
	
	<sql id="Dynamic_Conditions">
		<where>
			1=1
			<if test="id != null" >
				and id = #{id}
			</if>
			<if test="classId != null" >
				and class_id = #{classId}
			</if>
			<if test="deviceId != null" >
				and device_id = #{deviceId}
			</if>
		</where>
	</sql>
	
	
	<select id="findSelective" parameterType="WebClassDevice" resultType="WebClassDevice">
		select 
		<include refid="Base_Column_List" />
		from web_class_device
		<include refid="Dynamic_Conditions"/>
	</select>


	<select id="findPageSelective" parameterType="WebClassDevice" resultType="WebClassDevice">
		select 
		<include refid="Base_Column_List" />
		from web_class_device
		<include refid="Dynamic_Conditions"/>
	</select>



</mapper>