<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zzrenfeng.zhsx.mapper.WebClassDeviceMapper" >
 
	<resultMap id="BaseResultMap"  type="com.zzrenfeng.zhsx.model.WebClassDevice" >
		<result column="id" property="id" />
		<result column="classid" property="classid" />
		<result column="classname" property="classname" />
		<result column="device_id" property="device_id" />
		<result column="device_code" property="device_code" />
	</resultMap>

	<sql id="Base_Column_List">
		id,classid,classname,device_id,device_code
	</sql>

	<select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
		select 
		<include refid="Base_Column_List" />
		from web_class_device
		where id = #{id}
	</select>

	<delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
		delete from web_class_device
		where id = #{id}
	</delete>
	
	<delete id="deleteBySelective" parameterType="WebClassDevice" >
		delete from web_class_device
		<include refid="Dynamic_Conditions"/>
	</delete>

	<insert id="insert" parameterType="WebClassDevice" >
		<selectKey keyProperty="id" order="BEFORE" resultType="java.lang.String">select uuid()</selectKey>
		insert into web_class_device (id,classid,classname,device_id,device_code)
		values (#{id},#{classid},#{classname},#{device_id},#{device_code})
	</insert>


	<update id="updateByPrimaryKeySelective" parameterType="WebClassDevice" >
		update web_class_device
		<set >
			<if test="id != null" >
				id = #{id},
			</if>
			<if test="classid != null" >
				classid = #{classid},
			</if>
			<if test="classname != null" >
				classname = #{classname},
			</if>
			<if test="device_id != null" >
				device_id = #{device_id},
			</if>
			<if test="device_code != null" >
				device_code = #{device_code}
			</if>
		</set>
		where id = #{id}
	</update>
	

	<update id="updateByPrimaryKey" parameterType="WebClassDevice" >
		update web_class_device
		set 
		id = #{id},
		classid = #{classid},
		classname = #{classname},
		device_id = #{device_id},
		device_code = #{device_code}
		where id = #{id}
	</update>
	
	<sql id="Dynamic_Conditions">
		<where>
			1=1
			<if test="id != null" >
				and id = #{id}
			</if>
			<if test="classid != null" >
				and classid = #{classid}
			</if>
			<if test="classname != null" >
				and classname = #{classname}
			</if>
			<if test="device_id != null" >
				and device_id = #{device_id}
			</if>
			<if test="device_code != null" >
				and device_code = #{device_code}
			</if>
		</where>
	</sql>
	
	
	<select id="findSelective" parameterType="WebClassDevice" resultType="WebClassDevice">
		select 
		<include refid="Base_Column_List" />
		from web_class_device
		<include refid="Dynamic_Conditions"/>
	</select>


	<select id="findPageSelective" parameterType="WebClassDevice" resultType="WebClassDevice">
		select 
		<include refid="Base_Column_List" />
		from web_class_device
		<include refid="Dynamic_Conditions"/>
	</select>

</mapper>