<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zzrenfeng.zhsx.mapper.WebDeviceRecordMapper" >
 
	<resultMap id="BaseResultMap"  type="com.zzrenfeng.zhsx.model.WebDeviceRecord" >
		<result column="id" property="id" />
		<result column="device_code" property="deviceCode" />
		<result column="device_mac" property="deviceMac" />
		<result column="dr_start_time" property="drStartTime" />
		<result column="dr_end_time" property="drEndTime" />
		<result column="dr_using_long" property="drUsingLong" />
	</resultMap>

	<sql id="Base_Column_List">
		id,device_code AS deviceCode,device_mac AS deviceMac,dr_start_time AS drStartTime,dr_end_time AS drEndTime,dr_using_long AS drUsingLong
	</sql>

	<select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
		select 
		<include refid="Base_Column_List" />
		from web_device_record
		where id = #{id}
	</select>

	<delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
		delete from web_device_record
		where id = #{id}
	</delete>
	
	<!-- 清空所有记录 -->
	<delete id="deleteAllDRecord">
		delete from web_device_record
	</delete>

	<!-- 增加了mac地址，修改地址 -->
	<insert id="insert" parameterType="WebDeviceRecord" >
		<selectKey keyProperty="id" order="BEFORE" resultType="java.lang.String">select uuid()</selectKey>
		insert into web_device_record (id,device_code,device_mac,dr_start_time,dr_end_time,dr_using_long)
		values (#{id},#{deviceCode},#{deviceMac},#{drStartTime},#{drEndTime},#{drUsingLong})
	</insert>


	<update id="updateByPrimaryKeySelective" parameterType="WebDeviceRecord" >
		update web_device_record
		<set >
			<!-- <if test="id != null" >
				id = #{id},
			</if> -->
			<if test="deviceCode != null" >
				device_code = #{deviceCode},
			</if>
			<if test="deviceMac != null" >
				device_mac = #{deviceMac},
			</if>
			<if test="drStartTime != null" >
				dr_start_time = #{drStartTime},
			</if>
			<if test="drEndTime != null" >
				dr_end_time = #{drEndTime},
			</if>
			<if test="drUsingLong != null" >
				dr_using_long = #{drUsingLong}
			</if>
		</set>
		where id = #{id}
	</update>
	

	<update id="updateByPrimaryKey" parameterType="WebDeviceRecord" >
		update web_device_record
		set 
		<!-- id = #{id}, -->
		device_code = #{deviceCode},
		device_mac = #{deviceMac},
		dr_start_time = #{drStartTime},
		dr_end_time = #{drEndTime},
		dr_using_long = #{drUsingLong}
		where id = #{id}
	</update>
	
	<sql id="Dynamic_Conditions">
		<where>
			1=1
			<if test="id != null" >
				and id = #{id}
			</if>
			<if test="deviceCode != null" >
				and device_code = #{deviceCode}
			</if>
			<if test="deviceMac != null" >
				and device_mac = #{deviceMac}
			</if>
			<if test="drStartTime != null" >
				and <![CDATA[  dr_start_time >= #{drStartTime} ]]>
				<!-- and dr_start_time = #{drStartTime} -->
			</if>
			<if test="drEndTime != null" >
				and <![CDATA[  dr_end_time <= #{drEndTime} ]]>
				<!-- and dr_end_time = #{drEndTime} -->
			</if>
			<if test="drUsingLong != null" >
				and dr_using_long = #{drUsingLong}
			</if>
		</where>
	</sql>
	
	
	<select id="findSelective" parameterType="WebDeviceRecord" resultType="WebDeviceRecord">
		select 
		<include refid="Base_Column_List" />
		from web_device_record
		<include refid="Dynamic_Conditions"/>
	</select>


	<select id="findPageSelective" parameterType="WebDeviceRecord" resultType="WebDeviceRecord">
		select 
		<include refid="Base_Column_List" />
		from web_device_record
		<include refid="Dynamic_Conditions"/>
	</select>
	
	<select id="selectEndTimeByDeviceCode" parameterType="java.lang.String" resultType="java.lang.String">
		SELECT
			wdr.dr_end_time
		FROM
			web_device_record wdr
		WHERE 
			wdr.device_code=#{deviceCode}
		ORDER BY wdr.dr_end_time DESC
		LIMIT 1
	</select>




</mapper>